[*.cs]

# IDE0023: Use block body for conversion operators
dotnet_diagnostic.IDE0023.severity = suggestion

# CA2208: Instantiate argument exceptions correctly
dotnet_diagnostic.CA2208.severity = silent
